.App{
    display: flex;
    align-items: flex-start;
}

.cities-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 30%;
}

.cities-container__title{
    color: #232323;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.city-btn{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #eb6864;
    background: transparent;
    margin: 5px 0;
    border-radius: 10px;
    text-align: left;
}

.city-btn:hover{
    color: #fff;
    background: #eb6864;
    cursor: pointer;
}

.city-btn.active{
    color: #fff;
    background: #eb6864;
}

.weather__container{
    width: 50%;
    padding: 30px;
}

.weather__title{
    color: #232323;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

#searchInput{
    margin: 10px 0;
    padding: 10px;
    color: #232323;
    border: none;
    border-bottom: 1px solid #a3a3a3;
    font-size: 18px;
}

#searchInput::placeholder{
    color: #a3a3a3;
}

#searchInput:focus{
    outline: none;
    color: #232323;
    border-bottom: 1px solid #eb6864;
}

.search-form{
    display: flex;
    align-items: center;
}

.searchBtn{
    padding: 10px;
    color: #000;
    font-size: 18px;
    border: 1px solid #232323;
    margin-left: 5px;
    background: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}